body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.job-card {
	box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0);
	transition: all ease-in-out 0.2s;
}

.job-card:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
